$yoobicons-font-path: "./assets/fonts/yoobicons" !default;
@font-face {
    font-family: 'yoobicons';
    src: url('#{$yoobicons-font-path}/yoobicons.woff2?e59930') format('woff2'),
    url('#{$yoobicons-font-path}/yoobicons.ttf?e59930') format('truetype'),
    url('#{$yoobicons-font-path}/yoobicons.woff?e59930') format('woff'),
    url('#{$yoobicons-font-path}/yoobicons.svg?e59930#yoobicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="yo-"],
[class*=" yo-"] {
    font-family: 'yoobicons' !important; //speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.yo-check-solid .path1:before {
    content: "\e91b";
    color: rgb(0, 0, 0);
}

.yo-check-solid .path2:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.yo-rejected2:before {
    content: "\e956";
}

.yo-star:before {
    content: "\e957";
}

.yo-star-solid:before {
    content: "\e958";
}

.yo-duplicate-block:before {
    content: "\e954";
}

.yo-direction-select:before {
    content: "\e955";
}

.yo-camera-roll:before {
    content: "\e951";
}

.yo-Image-group:before {
    content: "\e952";
}

.yo-rotate-camera:before {
    content: "\e937";
}

.yo-maximize:before {
    content: "\e947";
}

.yo-background-on:before {
    content: "\e946";
}

.yo-brush:before {
    content: "\e948";
}

.yo-type-tool:before {
    content: "\e949";
}

.yo-rubber:before {
    content: "\e94a";
}

.yo-align-right:before {
    content: "\e94b";
}

.yo-align-left:before {
    content: "\e94c";
}

.yo-align-center:before {
    content: "\e94d";
}

.yo-flash-on-solid:before {
    content: "\e94e";
}

.yo-flash-off-solid:before {
    content: "\e94f";
}

.yo-auto-flash-solid:before {
    content: "\e950";
}

.yo-folder:before {
    content: "\e945";
}

.yo-grid-view:before {
    content: "\e938";
}

.yo-list-view:before {
    content: "\e939";
}

.yo-assign2-solid2:before {
    content: "\e93a";
}

.yo-assign2-solid:before {
    content: "\e93b";
}

.yo-zip-file:before {
    content: "\e93c";
}

.yo-file-powerpoint:before {
    content: "\e93d";
}

.yo-file-excel:before {
    content: "\e93e";
}

.yo-file-pdf:before {
    content: "\e93f";
}

.yo-file-word:before {
    content: "\e940";
}

.yo-mission:before {
    content: "\e941";
}

.yo-rejected:before {
    content: "\e942";
}

.yo-approved:before {
    content: "\e943";
}

.yo-photo-annotated:before {
    content: "\e944";
}

.yo-download:before {
    content: "\e934";
}

.yo-camera-solid:before {
    content: "\e935";
}

.yo-videocamera-solid:before {
    content: "\e936";
}

.yo-flash-on:before {
    content: "\e92b";
}

.yo-flash-off:before {
    content: "\e92c";
}

.yo-auto-flash:before {
    content: "\e92d";
}

.yo-videocamera:before {
    content: "\e92e";
}

.yo-alarm-solid:before {
    content: "\e92f";
}

.yo-assign-solid:before {
    content: "\e930";
}

.yo-delete-solid:before {
    content: "\e931";
}

.yo-delete:before {
    content: "\e932";
}

.yo-settings:before {
    content: "\e933";
}

.yo-tag:before {
    content: "\e928";
}

.yo-camera:before {
    content: "\e929";
}

.yo-alarm:before {
    content: "\e92a";
}

.yo-activity-solid:before {
    content: "\e907";
}

.yo-activity:before {
    content: "\e900";
}

.yo-play-solid:before {
    content: "\e908";
}

.yo-play:before {
    content: "\e926";
}

.yo-pen:before {
    content: "\e927";
}

.yo-pages:before {
    content: "\e91d";
}

.yo-gallery:before {
    content: "\e91e";
}

.yo-questions:before {
    content: "\e91f";
}

.yo-priority:before {
    content: "\e920";
}

.yo-description:before {
    content: "\e921";
}

.yo-contact:before {
    content: "\e922";
}

.yo-info:before {
    content: "\e923";
}

.yo-note:before {
    content: "\e924";
}

.yo-profile:before {
    content: "\e925";
}

.yo-plus:before {
    content: "\e912";
}

.yo-search:before {
    content: "\e913";
}

.yo-attachment:before {
    content: "\e909";
}

.yo-home-solid:before {
    content: "\e90a";
}

.yo-home:before {
    content: "\e91c";
}

.yo-attach-file:before {
    content: "\e901";
}

.yo-more:before {
    content: "\e902";
}

.yo-comment-solid:before {
    content: "\e903";
}

.yo-comment:before {
    content: "\e904";
}

.yo-heart-solid:before {
    content: "\e905";
}

.yo-heart:before {
    content: "\e906";
}

.yo-chart:before {
    content: "\e90b";
}

.yo-chart-solid:before {
    content: "\e90c";
}

.yo-feed:before {
    content: "\e90d";
}

.yo-feed-solid:before {
    content: "\e90e";
}

.yo-chat:before {
    content: "\e90f";
}

.yo-chat-solid:before {
    content: "\e910";
}

.yo-calendar:before {
    content: "\e911";
}

.yo-up:before {
    content: "\e914";
}

.yo-right:before {
    content: "\e915";
}

.yo-left:before {
    content: "\e916";
}

.yo-down:before {
    content: "\e917";
}

.yo-close:before {
    content: "\e918";
}

.yo-eye-solid:before {
    content: "\e919";
}

.yo-eye:before {
    content: "\e91a";
}