


:host { 
    .device {
        width: 270px;
        height: 557px;
        background-image: url(./assets/devices/device-iphone-7.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        position: relative;

        .content {
            top: 65px; //83px;
            position: relative;
            margin: auto;
            width: 239px; //227px;
            height: 422px; //392px;
            overflow: hidden;

            .column {
                height: 100%;

                /deep/ yoo-slim-scroll {
                    .scroll-slot-container {
                        iframe {
                            width: 100%;
                        }
                    }
                }
            }


            .top-bar {
                background-color: cssvar(light);
                min-height: 40px;
                border-bottom: 1px solid cssvar(dark-60);


                div {
                    padding: 0.4rem 0.2rem;

                    .heading {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 1rem;
                        color:cssvar(dark);
                        line-height: 20px;
                    }
                    span {
                        flex: 1;
                    }
                }
            }
        }
        
    }
}