:host {
    .container {
        margin: 15px;
        padding: 20px;
        border-radius: 6px;
        background-color: cssvar(light);
        box-shadow: $tile-shadow;
        text-align: left;
        &.valid {
            background: cssvar(gradient-success);
            color: cssvar(light);
            .step,
            .title,
            .subtitle {
                color: cssvar(light);
            }
        }
        &.invalid {
            background: cssvar(gradient-danger);
            color: cssvar(light);
            .step,
            .title,
            .subtitle {
                color: cssvar(light);
            }
        }
        .step {
            font-size: 9px;
            color: cssvar(success);
            line-height: 1.31;
            letter-spacing: 1px;
        }
        .title {
            font-size: 15px;
            font-weight: bold;
        }
        .subtitle {
            font-size: 11px;
            color: cssvar(text-color);
        }
    }
}