:host {
    .outer-container {
        width: 100%;
        .text-container {
            flex: 1;            
        }
        .toggle-container {
            height: 1.3125rem;
            width: 2.1875rem;
            border-radius: 0.96875rem;
            border: solid 1px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            &.active {
                border-color: cssvar(success);
                background-color: cssvar(success);
            }
            &:hover {
                cursor: pointer;
            }
            .inner-container {
                height: 1.25rem;
                width: 1.25rem;
                border-radius: 50%;
                background-color: cssvar(light);
                box-sizing: content-box;
                border: solid 0.5px rgba(0, 0, 0, 0.1);   
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
                transform: translateX(-1px);                   
                &:hover {
                    cursor: pointer;
                }
                &.active {
                    border: solid 1px cssvar(success);
                    height: 1.1875rem;
                    width: 1.1875rem;
                    transform: translateX(14px);                   
                }
            }
        }
    }
}

:host(.line) {
    .outer-container {
        .text-container {
            order: 1;
            margin-left: 1rem;
        }
    }
}

@mixin class-color-applicator($class, $color) {
    :host(.#{$class}) {
        .outer-container {
            .toggle-container {
                &.active {
                    border-color: cssvar($color);
                    background-color: cssvar($color);
                }
                .inner-container {
                    &.active {
                        border-color: cssvar($color);
                    }
                }
            }
        }
    }
}

@include class-color-applicator(accent, accent);
@include class-color-applicator(success, success);
@include class-color-applicator(danger, danger);
@include class-color-applicator(info, info);
@include class-color-applicator(warning, warning);
@include class-color-applicator(dark, dark);