
<ion-header class="shadow" no-border [class.statusbar-padding]="isCordova">
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()">
            </ion-button>
        </ion-buttons>
        <ion-title>Example Modal</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" [scrollEnabled]="false" #content no-bounce>
    <div>The content inside this component is controlled with *ngIf</div>
    <ng-template [ngIf]="true">
        <p>It should be shown</p>
    </ng-template>
    <p *ngIf="isShown">It should be shown as well</p>
    <p *ngIf="!isShown">It should not shown</p>
    <yoo-alert class="success" *ngIf="true" text="alert w/ ngIf"></yoo-alert>
    <yoo-alert class="success" text="alert without ngIf"></yoo-alert>
</ion-content>