:host {
    @include flex();
    flex-direction: column;
    flex: 1;
    
    .zoom-container {
        // height: 500px;
        // width: 500px;
        position:relative;
        overflow: hidden;
        height: 100%;
        width:100%;
    }

    .zoom-container-child {
        width: 100%;
        height: 100%;
    }
    
    
}