

@mixin class-color-variation($class, $color, $firstColor, $secondColor){
    :host(.#{$class}){
        .outer-container {
            .label-value {
                background: cssvar($color);
            }
            .slider-container{
                .range-container{
                    input[type=range]::-webkit-slider-thumb {
                        background: cssvar($firstColor) !important;
                        border: none;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                    }
                    input[type=range].second-slider::-webkit-slider-thumb {
                        background: cssvar($secondColor) !important;
                    }
                }
            }
        }
    }
}

:host{
    display: inline-block;
    .outer-container{
        height: 3rem;
        label{
            text-align: center;
            vertical-align: bottom;
            padding-top: 1.7rem;
            font-size: 0.7rem;
            color: cssvar(dark-20);
        }
        .slider-container{
            padding-right: 0.3rem;
            .range-container{
                position: relative;
                width: 10rem;
                align-items: center;
                padding-top: 0.5rem;
                /deep/ yoo-progress-bar{
                    padding-top: 0.2rem;
                    position: absolute;
                    padding-left: 0.5rem;
                    z-index: -400;
                }
                input[type=range]{
                    pointer-events: none;
                    position: absolute;
                    -webkit-appearance: none;
                    position: absolute;
                    width: 10.8rem;
                    background: transparent;
                    &:focus{
                        outline-width: 0rem;
                    }
                }
                input[type=range]::-webkit-slider-runnable-track{
                    -webkit-appearance: none;
                    width: 10.8rem;
                    //z-index: 200; 
                }
                input[type=range]::-webkit-slider-thumb{
                    pointer-events: all;
                    -webkit-appearance: none;
                    border-radius: 50%;
                    height: 1.2rem;
                    width: 1.2rem;
                    cursor: pointer;
                    border-width: 1px;
                    border-style: solid;
                    border-color: cssvar(dark-40);
                    background: cssvar(light);
                    //z-index: 2000; 
                }

                //Firefox requirement style
                input[type=range]{
                    -moz-appearance: none;
                }
                input[type=range]::-moz-focus-outer { 
                    border: 0; 
                }
                input[type=range]::-moz-range-track{
                    -moz-appearance: none;
                    width: 10.8rem;
                    background: transparent;

                }
                input[type=range]::-moz-range-thumb{
                    pointer-events: all;
                    -moz-appearance: none;
                    border-radius: 50%;
                    height: 1.2rem;
                    width: 1.2rem;
                    cursor: pointer;
                    border-width: 1px;
                    border-style: solid;
                    border-color: cssvar(dark-40);
                    background: cssvar(light);
                    transform: translateY(0.3rem);
                    z-index: 400;
                }
            }
            .label-value{
                text-align: center;
                width: 11rem;
                &.label-hidden{
                    opacity: 0 !important;
                }
                input[type=number]{
                    -webkit-appearance: none;
                    background: transparent;
                    font-size: 0.8rem;
                    width: 2rem;
                    outline: none;
                    border-color: transparent;
                    text-align: center;
                }
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                }
                // Firefox:
                input[type=number] {
                    -moz-appearance:textfield;
                  }
            }
        }
    }
}

:host(.inline){
    .outer-container{
        height: 2rem;
        label{
            display: none;
        }
        .slider-container{
            display: flex;
            flex-direction: row-reverse;
            .label-value{
                position: relative;
                width: 2rem;
                text-align: center;
                height: 1.5rem;
                margin-left: 1.3rem;
                border-radius: 4px;
                color: cssvar(light);
                input[type=number]{
                    color: cssvar(light);
                }
            }
        }
    }
}

:host(.simple) {
    .outer-container {
        label {
            display: none;
        }
        .slider-container {
            .label-value {
                display: none;
            }
        }
    }
}

:host(.vertical) {
    .outer-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        label {
            padding: 0;
        }
        .slider-container {
            flex-direction: row-reverse;
            align-items: center;
            .label-value {
                width: 100%;
            }
            .range-container {
                display: inline-block;
                width: 20px;
                height: 15rem;
                padding: 0;
                input, 
                yoo-progress-bar {
                    width: 15rem;
                    height: 20px;
                    margin: 0;
                    transform-origin: 7.5rem 7.5rem;
                    transform: rotate(-90deg);
                }
                yoo-progress-bar {
                    margin-left: 0.325rem;                    
                }
            }
        }
    }
}

:host(.triangle) {
    .wrapper {
    position: relative;
        yoo-progress-bar {
            position: absolute;
            bottom: 5%;
            left: 0;
            z-index: -1000;
        }
        .outer-container {
            width: 17rem;
            .slider-container {
                width: 100%;
                .label-value {
                    width: 100%;
                }
                .range-container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    input[type='range']::-webkit-slider-thumb {
                        height:1.4375rem;
                        width:1.4375rem;
                        border: none;
                        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
                    }
                    input[type='range']{
                        width: 15rem;
                    }
                }
            }
        }
    }
}

:host(.t-vertical) {
    .wrapper {
        yoo-progress-bar {
            top: 10%;
            left: 3.5%;
            transform-origin: 7.5rem 7.5rem;
            transform: rotate(-90deg);
        }
        .outer-container {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 17.5rem;
            width: 4rem;
            label {
                padding: 0;
                padding-left: 0.5rem;
            }
            .slider-container {
                flex-direction: row-reverse;
                height: 100%;
                justify-content: center;
                .label-value {
                    display: flex;
                    justify-content: center;
                }
                .range-container {
                    display: inline-block;
                    padding-bottom: 0.625rem;
                    padding-top: 0;
                    input {
                        transform-origin: 7.5rem 7.5rem;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}

@include class-color-variation(accent, accent, light, light);
@include class-color-variation(dark, dark-40, light, light);
@include class-color-variation(danger, danger, light, light);
@include class-color-variation(success, success, light, light);
@include class-color-variation(info, info, light, light);
@include class-color-variation(warning, warning, light, light);
@include class-color-variation(gradient-accent, gradient-accent, accent, accent);
@include class-color-variation(gradient-dark, gradient-dark, light, light);
@include class-color-variation(gradient-danger, gradient-danger, danger, danger);
@include class-color-variation(gradient-success, gradient-success, success, gradient-success-end);
@include class-color-variation(gradient-warning, gradient-warning, warning, warning);
@include class-color-variation(gradient-info, gradient-info, info, info);
