@mixin card-marker-position($top, $left, $length) {
  position: absolute;
  @if $top {
    top: $length;
  }
  @else {
    bottom: $length;
  }
  @if $left {
    left: $length;
  }
  @else {
    right: $length;
  }
}

:host() {
  .outer-container {
    //padding: 15px;
    border: none;
    box-shadow: none;
    padding-bottom: 1rem;
    .feed-top {
      align-items: center;
      yoo-avatar {
        margin-right: 0.8rem;
        transform: translateY(3px);
      }
      .feed-heading {
        flex: 1;
        font-size: 0.875rem;
        font-weight: 700;
        color: cssvar(dark);
        .feed-subheading {
          font-size: 0.75rem;
          font-weight: 400;
          color: cssvar(text-color);
          .feed-group {
            color: cssvar(dark);
          }
        }
      }
      .feed-menu {
        color: cssvar(stable);
        margin-right: 1px;
      }
    }
    .image-container {
      position: relative;
      height: 260px;
      margin-top: 0.5rem;
      margin-bottom: 0.8rem;
      .image {
        border-radius: 6px;
        box-shadow: $card-shadow;
        width: 100%;
        height: 100%;
      }
      .inner-icon {
        background-color: cssvar(light);
        border-radius: 50%;
        padding: 0.2em 0.45em;
      }
      .bottom-left-icon {
        @include card-marker-position(false, true, 0.9375rem);
      }
      .bottom-right-icon {
        @include card-marker-position(false, false, 0.9375rem);
      }
      .top-left-icon {
        @include card-marker-position(true, true, 0.9375rem);
      }
      .top-right-icon {
        @include card-marker-position(true, false, 0.9375rem);
      }
      .badge-bottom-left {
        @include card-marker-position(false, true, 0.9375rem);
      }
      .badge-bottom-right {
        @include card-marker-position(false, false, 0.9375rem);
      }
      .badge-top-left {
        @include card-marker-position(true, true, 0.9375rem);
      }
      .badge-top-right {
        @include card-marker-position(true, false, 0.9375rem);
      }
    }
    .content-container {
      padding: 0px;
    }
    .feed-under-img {
      font-size: 0.875rem;
      .feed-badges {
        margin-bottom: 0.625rem;
      }
      .feed-icon {
        margin-top: 0.2rem;
        margin-right: 0.9375rem;
        color: cssvar(black);
        i {
          font-size: 1.1rem;
        }
      }
      .info-feed {
        margin-top: 0.9375rem;
        color: cssvar(dark);
        span {
          margin-right: 0.9375rem;
        }
      }
      .feed-description {
        white-space: normal;
        line-height: 1.2rem;
        overflow: hidden;
        position: relative;
        color: cssvar(dark-110);
        &.short-text {
          height: 40px;
          max-height: 40px;
          margin: 0;
          padding-right: 50px;
          white-space: nowrap;
          .description-content {
            font-size: inherit;
            line-height: inherit;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: normal;
            color: inherit;
          }
          .more {
            font-size: 1.2rem;
            //color: cssvar(text-color);
            position: absolute;
            top: 17px;
            right: 38px;
          }
        }
        &.long-text {
          //max-height: 10rem;
          .more {
            color: cssvar(text-color);
          }
        }
        /deep/p {
          margin: 0;
          overflow: hidden;
          font-size: inherit;
          line-height: 1.2rem;
          white-space: normal;
          color: inherit;
        }
      }
    }
    .feed-hashtags {
      line-height: 1.2rem;
      color: cssvar(success);
    }
    .feed-bottom-action {
      line-height: 1.2rem;
      color: cssvar(text-color);
      font-size: 0.8125rem;
      cursor: pointer;
    }
  }
}
