

:host {
    .breadcrumb {
        align-items: center;
        line-height: 2;
        font-size: 0.875rem;
        padding: 0.375rem 0rem;

        .breadcrumb-item {
            align-self: center;
            color: cssvar(dark-60);
            padding-right: 0.75rem;
            
            span {
                position: relative;
                @include text-truncate();                
                padding-right: 0.75rem;
            }
            
            &.active {
                color: cssvar(text-color);
            }

            &.more {
                span {
                    &.yo-right {
                        padding-right: 0rem;
                    }
                }
                .more-icons {
                    padding-left: 0.75rem; 
                    i {
                        &.yo-arrow-dropdown {
                            padding: 0rem 0.25rem;
                        }
                    }
                }
            }
        }

        yoo-context-menu {
            .context-container {
                flex-direction: column-reverse;                
                span {
                    padding: 0.5rem 1rem;
                    line-height: 1.5;
                    width: 100%;
                    position: relative;
                    border-top: 1px solid cssvar(dark-20);
                    &:last-child {
                        border-top: none;
                    }
                    &:hover {
                        background: cssvar(accent-05);
                        color: cssvar(dark);
                    }
                }
            }
        }
    }
}
