:host {
    .container {
        .title {
            font-size: 1.5rem;
            opacity: 0.8;
            padding-bottom: 0.75rem;
        }
        .subtitle {
            font-size: 0.875rem;
            opacity: 0.8;
            padding-bottom: 2.8125rem;
        }
        .button {
            padding-top: 2.5rem;
            align-self: center;
        }

    }
}

@media only screen and (max-width: 767px) {
    .container {
        align-items: center;
        justify-content: flex-start;
        .title {
            font-size: 1.0625rem !important;
            opacity: 1 !important;
        }
        .subtitle {
            padding-top: 3.875rem;
            font-size: 1.0625rem !important;
            opacity: 1 !important;
            padding-bottom: 3rem !important;
            text-align: center;
            padding-left: 3.4375rem;
            padding-right: 3.4375rem;
        }
        .input {
            width: 100%;
            padding: 0 1.875rem;
        }
        .button {
            padding-top: 2.875rem !important;            
        }
    }
}