:host {
  .details {
    border-top: $border-width solid cssvar(border-color);
    border-bottom: $border-width solid cssvar(border-color);
    background: cssvar(light);
    font-size: cssvar(font-medium);
    display: table;
    width: 100%;
    font-size: cssvar(font-medium);
    margin-bottom: $padding/2;

    .details-title {
      font-weight: 500;
      padding: $padding/2;
      margin-bottom: $padding/4;
      border-bottom: $border-width solid cssvar(border-color);
      text-align: center;
      text-transform: uppercase;
    }
    .description {
      color: cssvar(text-header);
      padding: $padding/2; // 0;
      line-height: cssvar(font-xlarge);
      &.tags {
        margin-bottom: -5px;
        >span {
          @include tags;
          margin-bottom: 5px;
          padding: 3px 8px;
        }
      }
    }
  }
  .p-type-columns {
    .p-column {
      &:not(:last-child) {
        border-right: $border-width solid cssvar(border-color);
      }
      .title {
        font-size: cssvar(font-small);
        font-weight: 400;
        text-align: center;
        line-height: 11px;
        padding: 0 $padding/2;
      }
      .number {
        font-weight: 500;
        font-size: cssvar(font-large);
        margin-top: $padding/4;
      }
      .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-top: 5px;
      }
    }
  }
  .p-type-rows,
  .p-type-grid {
    .p-row {
      padding: $padding/4 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      &:not(:last-child) {
        border-bottom: $border-width solid cssvar(border-color);
      }
      .title {
        font-size: cssvar(font-small);
        font-weight: 400;
        width: 150px;
        @include text-truncate();
      }
      .number {
        font-weight: 400; //font-size: cssvar(font-large);
      }
      .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        text-align: center;
        margin-top: $padding/4;
      }
      .delta {
        text-align: right;
        padding-right: $padding/2;
      }
    }
  }
  .p-type-grid {
    .p-row {
      >div {
        @include text-truncate();
        font-size: cssvar(font-small);
        font-weight: 400;
      }
      >div:not(:last-child) {
        padding-right: $padding/4;
      }
      &.header>div {
        @include text-truncate();
        font-weight: 500;
        text-transform: uppercase;
        font-size: cssvar(font-xsmall);
      }
      .break-lines {
        white-space: normal;
      }
    }
  }
  .p-type-chart {
    chart-high {
      height: 300px;
    }
  }
}
