

:host {
    .menu-container {
        background-color: #f2f2f2;
        height: 100%;
        width: 68px;
        padding: 0.8rem;
        & > * {
            margin-left: 0.2rem;
        }
        .menu-logo {
            height: 36px;
            width: 36px;
            margin-bottom: 2rem;
            .image {
                height: 100%;
            }
        }

        .menu-items {
            margin-bottom: 1rem;

            .item-container {
                position: relative;
                &.item-separator {
                    margin-bottom: 4rem;
                }
            }

            .menu-icon {
                position: relative;
                border-radius: 50%;
                border: 1px solid cssvar(success);
                background-color: cssvar(light);
                height: 36px;
                width: 36px;
                margin-bottom: 1rem;
                i {
                    position: absolute;
                    color: cssvar(success);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
    
                &:hover {
                    background: cssvar(gradient-success);
                    i {
                        color: cssvar(light);
                    }
                }
    
                &.selected {
                    background: cssvar(gradient-success);
                    i {
                        color: cssvar(light);
                    }
                }
                /deep/ yoo-badge {
                    .outer-container {
                        position: absolute;
                        top: -0.1875rem;
                        right: -0.25rem;
                    }
                }
            }

        }

        

        .menu-user {
            flex: 0;
            height: 100%;
            border-top: 1px solid cssvar(stable);
            margin-right: -0.8rem;
            margin-left: -0.8rem;
            padding-left: 1rem;
            padding-top: 1rem;
        }
    }
}