

:host {
    display: block;
    &.closed {
        opacity: 0;
    }
    .container {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        transition: all 0.3s;
        width:100%;
        &.closed {
            opacity: 0;
        }
        .link {
            color: cssvar(light);
            font-weight: 100;
            text-decoration: underline;
            cursor: pointer;
            opacity: 0.5;
            font-size: 0.875rem;            
        }
        .inner-container {
            display: flex;
            justify-content: center;
            .icon {
                font-family: 'yoobicons';
                margin-right: 0.5rem;
                color: cssvar(light);
            }
            .text-container {
                display: flex;
                justify-content: center;
                color: cssvar(light);
                .value {
                    line-height: 1rem;
                    margin-bottom: 0.25rem;
                    font-size: 0.875rem;
                }
                .heading {
                    align-self: baseline;
                    font-weight: bold;
                    font-size: 0.875rem;
                }
            }
        }
        .close-container {
            display: flex;
            justify-content: flex-end;
            color: cssvar(light);
            .close {
                cursor: pointer;
                font-family: 'yoobicons';
                margin-left: 1rem;
                justify-content: flex-end;
            }
        }
    }
}

:host(.round) {
    .container {
        border-radius: 0.5rem;
    }
}

:host(.toast) {
    .container {
        max-width: 22.5rem;
        box-shadow: $button-shadow;
        .inner-container {
            .text-container {
                .value {
                    margin-top: 0.25rem;
                    margin-left: 0.5rem;
                }
            }
        }
    }
    &.round {
        .container {
            border: 0.05rem solid;
        }
    }
}

@keyframes scaleUp {
    0% {
      transform:scale(.8) translateY(1000px);
      opacity:0;
    }
    100% {
      transform:scale(1) translateY(0px);
      opacity:1;
    }
}

:host(.stripe) {
    .container {
        width: 100%;
        border-radius: 0rem;
        border-bottom: 0.05rem solid;
        .inner-container {
            .text-container {
                .value {
                    margin-top: 0.25rem;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

:host(.embedded) {
    .container {
        width: 100%;
        .inner-container {
            .text-container {
                .value {
                    margin-top: 0.25rem;
                    margin-left: 0.5rem;
                }
            }
        }
    }
    &.round {
        .container {
            border: 0.05rem solid;
        }
    }
}

:host(.centered) {
    .container {
        justify-content: space-between !important;
    }
}

@mixin class-color-applicator($class,$color){
    :host(.#{$class}) {
        background: cssvar($color);        
        .container {
            background: cssvar($color);
            color: cssvar($color);
            // &:hover {
            //     background: cssvar($color + '-05');
            // }
        }
    }
}
@include class-color-applicator(accent,accent);
@include class-color-applicator(success,success);
@include class-color-applicator(danger,danger);
@include class-color-applicator(info,info);
@include class-color-applicator(warning,warning);

@mixin class-gradient-color-applicator($class, $gradient-color){
    :host(.#{$class}) {
        .container {
            background: cssvar($gradient-color);
            color: cssvar(light);
        }
    }
}
@include class-gradient-color-applicator(accent-gradient, gradient-accent);
@include class-gradient-color-applicator(danger-gradient, gradient-danger);
@include class-gradient-color-applicator(success-gradient, gradient-success);
@include class-gradient-color-applicator(info-gradient, gradient-info);
@include class-gradient-color-applicator(warning-gradient, gradient-warning);

:host(.card) {
    .container {
        box-shadow: $button-shadow;
        border-radius: 0rem;
        border-left: 0.3rem solid;
        background: cssvar(light);
        .inner-container {
            .icon {
                margin-right: 1.5rem;
                margin-left: 0.5rem;
                font-size: 2.5rem;
            }
            .text-container {
                flex-direction: column;
                color: cssvar(dark);
                .value {
                    color: cssvar(dark-80);
                    line-height: 1.3rem;
                }
                .heading {
                    margin-top: 0.5rem;
                }
            }
        }
        .close-container {
            align-self: flex-start;
            color: cssvar(dark);
            font-size: 0.5rem;
        }
    }
}

@mixin class-gradient-card-applicator($class,$bottom-gradient,$webkit-gradient){
    :host(.#{$class}){
        .container {
            border-image: $bottom-gradient;
            border-image-slice: 1;
            .inner-container {
                .icon {
                    background-image: $webkit-gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

@include class-gradient-card-applicator(accent-gradient-card, 
    linear-gradient(to bottom, #097be5, #87bbfd), 
    -webkit-linear-gradient(#097be5, #87bbfd));
@include class-gradient-card-applicator(danger-gradient-card, 
    linear-gradient(to bottom, #f76c6c, #febd3c), 
    -webkit-linear-gradient( #f76c6c, #febd3c));
@include class-gradient-card-applicator(success-gradient-card, 
    linear-gradient(to bottom, #44c3aa, #87bbfd), 
    -webkit-linear-gradient( #44c3aa, #87bbfd));
@include class-gradient-card-applicator(info-gradient-card, 
    linear-gradient(to bottom, #6f3cfe, #f564b6), 
    -webkit-linear-gradient(#6f3cfe, #f564b6));
@include class-gradient-card-applicator(accent-gradient-card, 
linear-gradient(to bottom, #EEC852, rgb(245, 207, 181)), 
-webkit-linear-gradient(#EEC852, rgb(245, 207, 181)));
