

@mixin border-coloration($edge,$color){
    $border-width:0.1rem;

    border-color: cssvar($color);
    border-style: solid;
    border-top-width: 0rem;
    border-right-width: 0rem;
    border-left-width: 0rem;
    border-bottom-width: 0rem;
    @if $edge == bottom {
        border-bottom-width: $border-width;
    }  
    @if $edge == right {
        border-right-width: $border-width;
    }
    @if $edge == top {
        border-top-width: $border-width;
    }
    @if $edge == left {
        border-left-width: $border-width;
    }
}

@mixin focus-title($border-color){
    border-color: cssvar($border-color);
    border-style: solid;
    border-top-width: 0.1rem;
    border-right-width: 0.1rem;
    border-left-width: 0.1rem;
    border-bottom-width: 0.1rem;
    border-radius: 0.2rem;
    outline-width: 0rem;
}

@mixin tab-colors($edge, $color) {
    .outer-container {
        color: cssvar(stable);
        .tab-selector {
            .tab-title:hover{
                color: cssvar($color);
                @include border-coloration($edge, $color);
            }
            .tab-title:focus{
                @include focus-title($color);
            }
            .tab-title.active-title{
                color: cssvar($color);
                @include border-coloration($edge,$color);
            }
    
            yoo-context-menu {
                /deep/.tab-title-other:hover{
                    color: cssvar($color);
                }
            }
        }
    }
}

:host {
    .outer-container{
        background: cssvar(light);
        display: flex;
        flex-direction: column;
        color: cssvar(stable);
        .tab-selector{
            width: 100%;

            @include border-coloration(bottom, "dark-10");
            .tab-title {
                display: inline-block;
                padding: 1rem;
                transform: translateY(1px);
            }
            .tab-title:hover{
                cursor: pointer;
                color: cssvar(success);
                @include border-coloration(bottom,"success");
            }
            .tab-title:focus{
                @include focus-title("success");
            }
            .tab-title.active-title{
                color: cssvar(success);
                @include border-coloration(bottom,"success");
            }
            yoo-context-menu {
                display: inline-block;
                /deep/.tab-title-other{
                    display: flex;
                    align-items: center;
                    .yo-arrow-dropdown{
                        padding-left: 0.2rem;
                    }
                    &:hover {
                        color: cssvar(success);
                    }
                }
            }
        }
        .tab-content{
            padding: 1rem;
            .undisplayed-tab{
                display: none;
            }
            .selected-tab{
                width: 100%;
                display: block;
            }
        }
    }
}

:host(.vertical){
    // Vertical variations
    &.accent {
        @include tab-colors("right" ,"accent");
    }
    &.danger {
        @include tab-colors("right" ,"danger");
        
    }
    &.info {
        @include tab-colors("right" , "info");  
    }
    .outer-container{
        display:flex;
        flex-direction: row;
        .tab-selector{
            display: flex;
            width: unset;
            flex-direction: column;
            @include border-coloration(right, "dark-10");
            .tab-title{
                display: inline;
                padding: 1rem;
                transform: translateX(2px) !important;
            }
            .tab-title:hover{
                color: cssvar(success);
                @include border-coloration(right,"success");
            }
            .tab-title.active-title{
                color: cssvar(success);
                @include border-coloration(right,"success");
            }
            /deep/yoo-context-menu{
                .dropdown-content{
                    transform: translateY(-100%) translateX(5.5rem);
                }
                .tab-title-other{
                    .yo-right{
                        padding-left: 0.2rem;
                    }
                }
                .tab-title-other:hover{
                    border-bottom-width: 0rem;
                }
            }
        }
    }
}

// Horizontal variations
:host(.accent) {
    @include tab-colors("bottom" ,"accent");
}

:host(.danger) {
    @include tab-colors("bottom" ,"danger");
}

:host(.info) {
    @include tab-colors("bottom" ,"info"); 
}

