$border-color: #E1E8EE;

//TODO: override the padding in the cross to close the modal
// reduce padding around the current month (in the arrows) to be = 5
:host {
    .toolbar-tools {
        align-items: center;
        yoo-tooltip {
            padding: 0.25rem;
            yoo-button {
                padding: 0;
            }
        }
        h2 {
            text-transform: capitalize;
            font-weight: 500;
        }
        yoo-button {
            padding: 0.25rem;
        }
        .active-day {
            flex: 1 2 auto;
            text-align: center;
        }
    }
    .week-header {
        min-height: 1.875rem;
        background: cssvar(light);
        font-size: 0.8125rem;
        font-weight: 400;
        margin-bottom: 0.875rem;
        .day {
            flex: 1;
            text-align: center;
            font-size: 0.875rem;
            font-weight: 400;
            font-style: normal;
            line-height: normal;
            padding: 0.3125rem;
        }
    }
    .week {
        flex: 1;
        border-bottom: $border-width solid $border-color;
        .day {
            margin-top: 0.3125rem;
            height: 3.4375rem;
            text-align: center;
            cursor: pointer;
            flex: 1;
            &.grey-day {
                opacity: 0.3;
            }
            &.today {
                &.active {
                    .day-number {
                        background: cssvar(gradient-success);
                        color: cssvar(light);
                    }
                }
                .day-number {
                    color: cssvar(success);                    
                }
            }
            &.active {
                .day-number {
                    background: cssvar(black);
                    color: cssvar(light);
                }
            }
            .day-number {
                width: 2.0625rem;
                height: 2.0625rem;
                line-height: normal;
                font-style: normal;
                font-weight: 400;
                font-size: 1.0625rem;
                border-radius: 50%;
                min-width: 1.625rem;
            }
        }

        .markers {
            flex: 1;
            min-height: 1.3125rem;
            .marker {
                font-size: 0.625rem;
                border-radius: 50%;
                height: 1rem;
                width: 1rem;
                line-height: 1rem;
                background: cssvar(accent);
                color: cssvar(light);
                margin-right: 0.0625rem;
                &.extra {
                    background: cssvar(warning);
                }
                &.no-count{
                    background: cssvar(success);
                    width: 0.3125rem;
                    height: 0.3125rem;
                }
            }
            
        }
    }

    // MOBILE STYLES ONLY
    .mobile-calendar-header {
        align-items: center;
        margin-bottom: 1.25rem;
        .active-month-container {
            display: flex;
            align-items: baseline;
            .prev-month {
                color: cssvar(stable-alt);
                padding: 0rem 0.3125rem 0rem 0.9375rem;
            }
            .next-month {
                color: cssvar(stable-alt);
                padding-left: 0.3125rem;
            }
            .active-month {
                color: cssvar(black);
                font-size: 1.3125rem;
                font-weight: 400;
                line-height: normal;
                font-style: normal;
            }
        }
        .calendar-tools {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            .calendar-toggle {
                padding-right: 0.9375rem;
                font-size: 0.875rem;
                font-weight: 400;
                font-style: normal;
                line-height: normal;
                color: cssvar(stable-alt);
                &:last-child {
                    padding-right: 0.4375rem;
                }
                &.today {
                    &:hover {
                        color: cssvar(success);
                    }
                }
                &.active {
                    color: cssvar(success);
                }
            }
        }
        
    }

    .mobile-days {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    :host {
        .mobile-calendar-header {
            .calendar-tools {
                .calendar-toggle {
                    max-width: 4rem;
                    @include text-truncate();
                }
            }
        }
    }
}