@mixin mobile-styles() {
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    width: 100%;
}

:host {
    height: 100%;
    width: 100%;
    position: relative;
    background: cssvar(black);

    yoo-zoom {
        height: 100%;
        z-index: 500;
        background: cssvar(black);
        /deep/.zoom-container {
            ion-content {
                ion-scroll.scroll-ios {
                    background: none;
                }
            }
        }
    }
    .canvas {
        cursor: pointer;
        position: absolute;

        &.canvas-mobile {
            @include mobile-styles();
        }
    }

    .image {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        background: cssvar(light);

        .opacity-0 {
            opacity: 0;
        }

        &.image-mobile {
            @include mobile-styles();
        }
    }

    
}