

$dark-border-color: cssvar(dark-40);
:host {
    // Horizontal Button Group
    .group-container {
        /deep/:nth-child(n) {
            .container {
                border-radius: 0px;
                @include color-border(right, 1px, $dark-border-color);
                @include color-border(left, 0px, $dark-border-color);
            }
        }
        /deep/:first-child {
            .container {
                @include border-left-radius(5px);
                @include color-border(left, 1px, $dark-border-color);
                @include color-border(right, 1px, $dark-border-color);
            }
        }
        /deep/:last-child {
            .container {
                @include border-right-radius(5px);
                @include color-border(right, 1px, $dark-border-color);
                @include color-border(left, 0px, $dark-border-color);
            }
        }
        /deep/.container {
            @include color-border(top, 1px, $dark-border-color);
            @include color-border(bottom, 1px, $dark-border-color);
            display: inline-flex;
            justify-content: center;
            &:hover {
                box-shadow: none;
                transform: none;
            }
        }
    }
    yoo-context-menu {
        /deep/yoo-button {
            span {
                float: right;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
    .context-container {
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        yoo-button {
            width: inherit;
        }
    }
}

:host(.vertical) {
    .group-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        /deep/:nth-child(n) {
            .container {
                border-radius: 0px;
                @include color-border(bottom, 1px, $dark-border-color);
            }
        }
        /deep/:first-child {
            .container {
                @include color-border(top, 1px, $dark-border-color);
                @include color-border(bottom, 1px, $dark-border-color);
                @include border-top-radius(5px);
            }
        }
        /deep/:last-child {
            .container {
                @include color-border(bottom, 1px, $dark-border-color);
                @include border-bottom-radius(5px);
            }
        }
        /deep/.container {
            @include color-border(right, 1px, $dark-border-color);
            @include color-border(left, 1px, $dark-border-color);
            border-top: none;
            border-bottom: none;
        }
    }
}

:host(.justified) {
    .group-container {
        justify-content: space-between;
        /deep/.container {
            border: 1px solid cssvar(dark-40);
            border-radius: 5px;
        }
    }
}