

$color-picker-size: 1.3rem;

:host {
    .color-picker-container{
        align-items: center;
        padding: 0.2rem;
        width: 6rem;
        input[type=text]{
            -webkit-appearance: none;
            background: transparent;
            font-size: 0.8rem;
            width: 4rem;
            outline: none;
            border-color: transparent;
            text-align: center;
        }
        .color-selector{
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            border: 1px solid cssvar(dark-40);
            input[type=color]{
                height: 1rem;
                width: 1rem;
                // min-width: $color-picker-size;
                // min-height: $color-picker-size;
                border: none;
                outline: none;
                -webkit-appearance: none;
                background: transparent;
                opacity: 0;
            }    
            input[type=color]::-webkit-color-swatch-wrapper {
                padding: 0px;
                -webkit-appearance: none;
                background: transparent;
            }
            input[type=color]::-webkit-color-swatch {
                border-radius: 50%;
                border: none;
            }
        }
    }
}

:host(.large){
    .color-picker-container{
        .color-selector{
            height: 1.7rem;
            width: 1.7rem;
            min-width: 1.7rem;
            min-height: 1.7rem;
            input[type=color]{
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }
}