

@mixin color($color) {
    .outer-container {
        background: cssvar($color);
    }
}

:host {
    .outer-container {
        background: cssvar(light);
        &.width {
            width: 100%;
        }
        &.height {
            height: 100%;
        }
    }
}

:host(.accent) {
    @include color(accent);
}

:host(.danger) {
    @include color(danger);
}

:host(.success) {
    @include color(success);
}

:host(.info) {
    @include color(info);
}

:host(.warning) {
    @include color(warning);
}

:host(.dark) {
    @include color(dark);
}

:host(.gradient-accent) {
    @include color(gradient-accent);
}

:host(.gradient-danger) {
    @include color(gradient-danger);
}

:host(.gradient-success) {
    @include color(gradient-success);
}

:host(.gradient-info) {
    @include color(gradient-info);
}

:host(.gradient-warning) {
    @include color(gradient-warning);
}

:host(.gradient-dark) {
    @include color(gradient-dark);
}