:host {
  .outer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 10.3125rem;
    height: 8.125rem;
    background-color: cssvar(light);
    box-shadow: $tile-shadow;
    border-radius: 0.5rem;

    padding: 0.96875rem 1.25rem;
 
    .tile-icon {
      // margin-bottom: 0.9375rem;
    }
    .tile-text {
      font-size: 0.625rem;
      margin-top: 0.34375rem;
      line-height: 0.75rem;
    }
    .tile-value {
      font-size: 2.25rem;
      font-weight: 300;
      line-height: 2.75rem;
    }
  }
}
