@mixin avatar-color($class, $color) {
    :host(.#{$class}) {
        .avatar {
            .image {
                background: cssvar($color);
                color: cssvar(light);
            }
            .top-right {
                background: cssvar($color);
                color: cssvar(light);
            }
            .top-left {
                color: cssvar(light);
                background: cssvar($color);
            }
            .bottom-right {
                color: cssvar(light);
                background: cssvar($color);
            }
            .bottom-left {
                color: cssvar(light);
                background: cssvar($color);
            }
            .user-initial,
            .image .icon-container {
                color: cssvar(dark);
            }
        }
    }
}

@mixin avatar-size($imgSize, $initialFontSize, $iconFontSize, $squareOffset: 0rem, $iconSize: auto) {
    .avatar {
        .image {
            height: $imgSize;
            width: $imgSize;
        }
        .user-initial,
        .image .icon-container {
            font-size: $initialFontSize;
        }
        @include icon-size($iconFontSize, $squareOffset, $iconSize);
    }
    &.squared {
        .avatar {
            @include icon-size($iconFontSize, $squareOffset, $iconSize);
        }
    }
}

@mixin icon-placement-base($top, $left, $squareOffset) {
    @if $top {
        top: $squareOffset;
    }
    @else {
        bottom: $squareOffset;
    }
    @if $left {
        left: $squareOffset;
    }
    @else {
        right: $squareOffset;
    }
}

@mixin icon-size($iconFontSize, $squareOffset: 0rem, $iconSize: auto) {
    .top-right,
    .top-left,
    .bottom-right,
    .bottom-left {
        font-size: $iconFontSize;
        height: $iconSize;
        width: $iconSize;
    }
    .top-right {
        @include icon-placement-base(true, false, $squareOffset);
    }
    .top-left {
        @include icon-placement-base(true, true, $squareOffset);
    }
    .bottom-right {
        @include icon-placement-base(false, false, $squareOffset);
    }
    .bottom-left {
        @include icon-placement-base(false, true, $squareOffset);
    }
}

:host {
    .avatar {
        position: relative;
        display: inline-flex;
        .top-right,
        .top-left,
        .bottom-left,
        .bottom-right {
            z-index: 1;
            position: absolute;
            background-color: cssvar(light);
            border: 1px solid cssvar(dark-10);
            border-radius: 50%;
            padding: 0.2em 0.45em;
        }
        @include icon-size(0.5rem);
        .user-initial {
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: cssvar(success);
        }
        .image {
            background: cssvar(light);
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;
            color: cssvar(light);
            &.initial-container,
            &.icon-container {
                border: 1px solid cssvar(dark-10);
            }
            &.icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                color: cssvar(success);
            }
        }
    }
    &.squared {
        .avatar {
            @include icon-size(0.5rem, -4%);
            .image {
                border-radius: 10%;
            }
        }
    }
}

:host(.xsmall) {
    @include avatar-size(1.375rem, 0.5rem, 0.1875rem, -4%);
}

:host(.small) {
    @include avatar-size(2.25rem, 1rem, 0.3125rem, -4%);
}

:host(.list-small) {
    @include avatar-size(1.875rem, 0.8rem, 0.5rem, -4%);
}

:host(.xmedium) {
    @include avatar-size(2.8125rem, 1.375rem, 0.5rem, -4%);
}

:host(.medium) {
    @include avatar-size(3.125rem, 1.375rem, 0.5rem, -4%);
}

:host(.large) {
    @include avatar-size(4.375rem, 2rem, 0.640rem, -4%, 1.4375rem);
}

:host(.xlarge) {
    @include avatar-size(5.625rem, 3rem, cssvar(font-size), -4%);
}

:host(.profile) {
    .avatar {
        .image {
            height: 25px;
            width: 25px;
        }
        .user-initial {
            font-size: 0.7rem;
        }
    }
}

:host(.large-border) {
    .avatar {
        span:not(.user-initial) {
            border: 2px solid cssvar(light) !important;
        }
    }
}

@include avatar-color(accent, accent);
@include avatar-color(dark, dark-40);
@include avatar-color(success, success);
@include avatar-color(danger, danger);
@include avatar-color(warning, warning);
@include avatar-color(info, info);
@include avatar-color(gradient-accent, gradient-accent);
@include avatar-color(gradient-info, gradient-info);
@include avatar-color(gradient-dark, gradient-dark);
@include avatar-color(gradient-danger, gradient-danger);
@include avatar-color(gradient-warning, gradient-warning);
@include avatar-color(gradient-success, gradient-success);