:host {
    .outer-container {
        align-items: flex-end;
        background: cssvar(light);
        position: relative;
        .indications-container {
            background: cssvar(stable-light);
            color: cssvar(text-color);
            font-size: 0.5rem;
            @include text-truncate();
            width: 100%;
            padding-left: 0.9375rem;
            .user-indication {
                color: cssvar(dark);
            }
        }
        .input-container {
            width: 100%;
            padding: 0.5625rem 0.9375rem 1rem 0.9375rem;
            .icon-container {
                margin-right: 0.5rem;
                align-self: flex-end;
                .capture-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 1px solid cssvar(success);
                    height: 2rem;
                    width: 2rem;
                    color: cssvar(success);
                }
            }
            .input-zone {
                padding: 0.4375rem 0.75rem 0.5625rem 0.8125rem;
                min-height: 2rem;
                position: relative;
                border: 1px solid cssvar(stable);
                border-radius: 1.03125rem;
                width: 100%;
                // padding: 0.5rem 4rem 0.5rem 0rem;
                font-size: 0.8125rem;
                textarea {
                    width: 100%;
                    // margin-left: 0.5rem;
                    line-height: 1rem;
                    border: none;
                    resize: none;
                    display: block;
                    box-sizing: border-box;
                    -webkit-appearance: none;
                    outline: none !important;
                }
                .input-action {
                    position: absolute;
                    bottom: 0.2rem;
                    //top: 0px;
                    right: 0.8125rem;
                    color: cssvar(success);
                    div {
                        span {
                            display: inline-block;
                            margin-bottom: 0.25rem;
                        }
                    }
                    i {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}