@mixin badge-position() {
    yoo-form-checkbox {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    .bottom-left,
    .bottom-right,
    .top-left,
    .top-right {
        z-index: 1;
        position: absolute;
    }
    .bottom-left {
        bottom: 0.5rem;
        left: 0.5rem;
    }
    .bottom-right {
        bottom: 0.5rem;
        right: 0.5rem;
    }
    .top-left {
        top: 0.5rem;
        left: 0.5rem;
        &.active {
            top: 2rem;
        }
    }
    .top-right {
        top: -0.2rem;
        right: 0.1rem;
    }
}

:host {
    display: block;
    .outer-container {
        width: 100%;
        border-bottom: 1px solid cssvar(dark-10); //border-radius: 2px;
        //box-shadow: 0px 0px 3px 1px cssvar(dark-10); //padding-bottom: 0.5rem;
        .image-container {
            position: relative;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
            @include badge-position();
            yoo-avatar.main,
            .multiple-avatar-container {
                margin-left: 0.8rem;
                margin-right: 0.3rem;
                align-self: center;
            }
            .multiple-avatar-container {
                .top-avatars {
                    yoo-avatar {
                        transform: translateY(3px);
                    }
                }
                .avatar-hidden {
                    height: 22px;
                    width: 22px;
                    background-color: cssvar(stable);
                    color: cssvar(light);
                    font-size: 0.6rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .content-container {
            background: cssvar(light);
            width: 100%;
            justify-content: space-between;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            .heading-container {
                font-size: 1rem;
                .card-heading {
                    flex: 1;
                }
            }
            .subheading-container {
                font-size: 0.9rem;
                color: cssvar(text-color);
                margin-top: 0.2rem;
            }
            .badges-container {
                align-items: center;
                yoo-badge,
                .card-icon {
                    margin-right: 0.625rem;
                }
                .hashtag {
                    color: cssvar(text-color);
                    font-size: 0.6875rem;
                    margin-right: 0.4375rem;
                    transform: translateY(0.125rem);
                }
                .card-icon {
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 0.4375rem;
                        font-size: 1.2rem;
                    }
                }
            }
            .avatar-container {
                margin-top: 0.5rem;
                justify-content: flex-end;
                padding-right: 0.5rem;
                yoo-avatar {
                    margin-right: 0.15rem;
                    margin-left: 0.15rem;
                }
            }
            .action-button-container {
                justify-content: flex-end;
            }
            .slot-container {
                font-size: 0.9rem;
                color: cssvar(text-color);
                justify-content: space-between;
                .inner-container {
                    justify-content: flex-end;
                    align-items: center;
                }
            }
            .top-container {
                .heading-container {
                    .card-heading {
                        font-size: 1.0625rem;
                    }
                    .date-card {
                        color: cssvar(text-color);
                        font-size: 0.9rem;
                    }
                }
            }
        }
        &.active {
            box-shadow: 0px 0px 3px 1px cssvar(accent);
            border: 1px solid cssvar(accent);
        }
    }
}

:host(.feedsComments) {
    .outer-container {
        padding-top: 0.625rem;
        .content-container {
            .heading-container {
                font-size: 0.9375rem;
            }
            .subheading-container {
                font-size: 0.9375rem;
                color: cssvar(dark);
            }
            .top-container {
                .badges-container {
                    margin-top: 0.5rem;
                    font-size: 0.75rem;
                    .bottom-action {
                        color: cssvar(text-color);
                        margin-right: 1.25rem;
                    }
                }
            }
        }
        .image-container {
            yoo-avatar.main {
                align-self: normal;
            }
        }
    }
}

:host(.active) {
    .outer-container {
        box-shadow: 0px 0px 3px 1px cssvar(accent);
        border: 1px solid cssvar(accent);
    }
}

:host(.hoverable) {
    &:hover {
        .outer-container {
            box-shadow: 0px 0px 3px 1px cssvar(accent);
            border: 1px solid cssvar(accent);
        }
    }
}

:host(.filesFolders),
:host(.files) {
    .outer-container {
        .image-container {
            yoo-avatar.main {
                margin-left: 0;
            }
        }
        .content-container {
            padding: 0.3rem;
            .subheading-container {
                font-size: 0.625rem;
                margin-top: 0;
            }
        }
    }
}