

:host{
    height: 100%;
    .outer-container{
        height: 100%;
        background-color: cssvar(light); 
        .chat-header{
            text-align: center;
            //border-bottom: 1px solid cssvar(dark-20);
        }
        .load-more {
            justify-content:center;
            background: cssvar(dark-10);
            color: cssvar(text-color);
        }
        .scroll-container {
            height: 100%;
        }
        .messages-container{
            // padding: 1rem;
            padding-right: 1rem;
            padding-left: 1rem;
            margin-top: 0.2rem;
            // margin-bottom: 0.2rem;
            flex-direction: "column-reverse";
            .message{
                margin: 0.2rem;
                max-width: 60%;
                position: relative;
                .speech-mark {
                    position: absolute;
                    z-index: 0;
                    bottom: 1.625rem;
                    height: 20px;
                    width: 20px;
                    background: cssvar(success);
                }
                .speech-mark-negative {
                    position: absolute;
                    z-index: 1;
                    bottom: 1.625rem;
                    width: 10px;
                    height: 20px;
                    background: cssvar(light);
                }
                .message-content{
                    padding: 0.5rem 1rem;
                    border-radius: 1.25rem;
                    .image-container {
                        padding-top: 0.5rem;
                        .image {
                            min-height: 200px;
                            min-height: 100px;
                            width: 100%;
                            height: 100%;
                            background:cssvar(light);
                        }
                    }
                }
                .info-container{
                    margin: 0.2rem;
                    color: cssvar(text-color);
                    display: flex;
                    align-items: center;
                    font-size: 0.7rem;
                    white-space: nowrap;
                    yoo-avatar {
                        margin-right: 0.3rem;
                    }
                }
                &.user-message{
                    margin-left: auto;
                    .speech-mark {
                        border-bottom-left-radius: 15px;
                        right: -7px;
                    }
                    .speech-mark-negative {
                        border-bottom-left-radius: 10px;
                        right: -10px;
                    }
                    .message-content{
                        background: cssvar(success);
                        color: cssvar(light);
                    }
                    .info-container{
                        margin-left: auto;
                    }
                }
                &.other-message{
                    margin-right: auto;
                    .speech-mark {
                        left: -7px;
                        border-bottom-right-radius: 15px;
                        background: cssvar(dark-10);
                    }
                    .speech-mark-negative {
                        left: -10px;
                        border-bottom-right-radius: 10px;
                    }
                    .message-content{
                        background: cssvar(dark-10);
                    }
                }
            }
        }
        .input-container {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: white;
            //padding: 0.5625rem 0.9375rem 0.4375rem 0.875rem;
            box-shadow: $input-bar-shadow;
            padding-bottom: env(safe-area-inset-bottom);
        }
    }
}