

// margin between fab buttons inside a list
$fab-btn-margin: 0.5rem;
$mini-fab-btn-size: 2.1875rem;

@mixin fab-color($color) {
    .fab-button {
        yoo-button {
            /deep/.container {
                background: cssvar($color);
                .value {
                    color: cssvar(light);
                }
            }
        }
        yoo-badge {
            /deep/.outer-container {
                background: cssvar($color);
                .inner-container {
                    .inner-text {
                        color: cssvar(light);
                    }
                }
            }
        }
    }
}

@mixin class-fab-color-border($class,$color,$border-color){
    :host(.#{$class}) {
        @include fab-color($color);
        yoo-button {
            /deep/.container {
                border: 1px solid cssvar($border-color);
            }
        }
    }
}

:host-context(.top) {
    .fab-in-list.show {
        margin: 8px 0;
    }
}

:host-context(.bottom) {
    .fab-in-list.show {
        margin: 8px 0;
    }
}

:host-context(.left) {
    .fab-in-list.show {
        margin: 0 8px;
    }
}

:host-context(.right) {
    .fab-in-list.show {
        margin: 0 8px;
    }
}


:host {

    .fab-button {
        // position: absolute;
        color: cssvar(light);
        border-radius: 50%;

        yoo-button {
            /deep/.container {
                @include text-truncate();
            }
        }

    }

    .fab-in-list {
        position: relative;
        width: 2.625rem;
        height: 2.625rem;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);

        yoo-badge {
            position: absolute;
            right: 3.4275rem;
            bottom: 0.625rem;
        }

        &.show {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        &.mini {
            yoo-button {
                /deep/.container {
                    width: $mini-fab-btn-size;
                    height: $mini-fab-btn-size;
                    padding: 0.375rem 0rem;
                    
                }
            }
        }
        
    }
}


:host(.large) {
    .fab-button {
        yoo-button {
            /deep/.container {
                padding: 5px;
            }
        }
    }
}

:host(.top-right) {
    .fab-button {
        top: 5px;
        right: 5px;
    }
}

:host(.top-left) {
    .fab-button {
        top: 5px;
        left: 5px;
    }
}

:host(.bottom-right) {
    .fab-button {
        bottom: 5px;
        right: 5px;
    }
}

:host(.bottom-left) {
    .fab-button {
        bottom: 5px;
        left: 5px;
    }
}

// Colors - TO DO - add styles dynamically from inside the component so that the button SCSS is used
:host(.accent) {
    @include fab-color(accent);
}

:host(.dark) {
    yoo-button {
        /deep/.container {
            background-color: cssvar(dark);
            color: cssvar(dark);
            border: 1px solid cssvar(dark-110);
        }
    }
}
@include class-fab-color-border(success,success,success-110);
@include class-fab-color-border(danger,danger,danger-110);
@include class-fab-color-border(info,info,info-110);
@include class-fab-color-border(warning,warning,warning-110);
@include class-fab-color-border(gradient-accent,gradient-accent,accent-110);
@include class-fab-color-border(gradient-dark,gradient-dark,dark-110);
@include class-fab-color-border(gradient-success,gradient-success,success-110);
@include class-fab-color-border(gradient-info,gradient-info,info-110);
@include class-fab-color-border(gradient-danger,gradient-danger,danger-110);
@include class-fab-color-border(gradient-warning,gradient-warning,warning-110);
