
@mixin context-container() {
    padding: 0.5rem 1rem;
    line-height: 1.5;
    width: 100%;
    position: relative;
    border-bottom: 1px solid;
}

@mixin color-pagination($color, $color-20, $color-05) {
    .container {
        .inner-container {
            .page-number {
                color: $color;
                font-size: 0.8rem;
                font-weight: 400;
                &:hover {
                    background: $color-20;
                }
                &.active {
                    background: $color;
                    color: cssvar(light);
                }
                &.disabled {
                    color: $color-05;
                    &:hover {
                        cursor: not-allowed;
                        background: transparent;
                    }
                }
                &.ellipsis {
                    &:hover{
                        cursor: default;
                        background: transparent;
                    }
                }
            }
        }
    }  
}

:host {
    .container {
        width: 100%;
        &.show-total-disabled {
            justify-content: center;
        }
         &.show-total {
            justify-content: space-between;
        }
        .total-container {
            color: cssvar(dark-80);
            align-items: center;
            min-width: 7.6rem;
            .text-container {
                padding-left: 0.3rem;
            }
            .dropdown-entry {
                padding: 0.5rem 1rem;
                line-height: 1.5;
                width: 100%;
                cursor: pointer;
                &:hover {
                    background: cssvar(accent-05);
                    color: cssvar(dark);
                }
            }
            .items-container {
                padding-left: 0.5rem;
            }
        }
        .inner-container {
            .page-number {
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                height: 2.5rem;
                width: 2.5rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

:host(.accent) {
    @include color-pagination(cssvar(accent), cssvar(accent-20), cssvar(accent-05));
}

:host(.danger) {
    @include color-pagination(cssvar(danger), cssvar(danger-20), cssvar(danger-05));
}

:host(.success) {
     @include color-pagination(cssvar(success), cssvar(success-20), cssvar(success-05));
}

:host(.info) {
    @include color-pagination(cssvar(info), cssvar(info-20), cssvar(info-05));
}

:host(.warning) {
     @include color-pagination(cssvar(warning), cssvar(warning-20), cssvar(warning-05));
}

:host(.dark) {
    @include color-pagination(cssvar(dark-80), cssvar(dark-40), cssvar(dark-20));
}